---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import ContainerGuide from "../../../components/container-guide/ContainerGuide.astro";
---

<BaseLayout
  title="Containerguide | SG Logistics AS"
  description="Praktisk oversikt over containertyper, mål, volum, nyttelast og bruksområder."
>
  <Header />
  <main>
    <ContainerGuide />
  </main>
  <Footer />
</BaseLayout>
