---
import BaseLayout from "../layouts/BaseLayout.astro";

import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Employees from "../components/Employees.astro";
import Documents from "../components/Documents.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout
  title="SG Logistics AS"
  description="Transport, logistikk, fortolling og verdiøkende tjenester."
>
  <Header />

  <main>
    <Hero />
    <Services />
    <About />
    <Employees />
    <Documents />
    <Contact />
  </main>

  <Footer />
</BaseLayout>
